argon2-cffi
argon2-cffi-bindings
asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-allauth
django-axes
django-crispy-forms
django-csp
django-filter
django-oauth-toolkit
django-password-validators
djangorestframework
djangorestframework_simplejwt
drf-social-oauth2
idna
jwcrypto
oauthlib
packaging
pillow
pycparser
PyJWT
PyMySQ
python3-openid
requests
requests-oauthlib
social-auth-app-django
social-auth-core
sqlparse
typing_extensions
urllib3
